<phpunit bootstrap="vendor/autoload.php"
     colors="true"
     convertErrorsToExceptions="true"
     convertNoticesToExceptions="true"
     convertWarningsToExceptions="true"
     stopOnFailure="false"
     backupGlobals="false">
  <testsuites>
    <testsuite name="actions">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
